<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aaron.nutrisportbetaversion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".NutricionActivity" />
        <activity android:name=".EntrenamientoActivity" />
        <activity android:name=".CalculoIndiceMasaCorporalActivity" />
        <activity android:name=".CalcularGrasaCorporalActivity" />
        <activity android:name=".AgregarAlimentoActivity" />
        <activity android:name=".MetabolismoBasalActivity" />
        <activity android:name=".GuiaNutricionalActivity" />
        <activity android:name=".NovedadesNutricionalesActivity" />
        <activity android:name=".OrientacionNutricionalActivity" />
        <activity android:name=".CrossFitActivity" />
        <activity android:name=".VolumenActivity" />
        <activity android:name=".ResistenciaActivity" />
        <activity android:name=".FuerzaActivity" />
        <activity android:name=".DescargasActivity" />
        <activity android:name=".SeguimientoDeportivoActivity" />
        <activity android:name=".AgregarEntrenamientoActivity" />
        <activity android:name=".OrientacionDeportivaActivity" />
        <activity android:name=".NovedadesDeportivasActivity"></activity>
    </application>

</manifest>